<ion-header>
  <ion-toolbar color="dark">
    <ion-title> Balances</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Total precio / mes contratación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>
    
</ion-content>