<ion-header [translucent]="true">
  <ion-toolbar  color="light">
    <ion-title>
      <img src="../assets/logo.png" alt="">
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Welcome to Renco!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Renco es la aplicación para gestionar los contratos de renting y leasing que tu empresa necesita!
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Es muy fácil de usar!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Para hacer el primer paso, añade los vehiculos que gestionas internamente.
      Has encontrado un cliente ya para tu(s) vehiculo? Guardalo en la sección de clientes.
      Finalmente, gestiona tu primer contrato añadiendo el coche con el cliente que quieras.
      Ya esta! Asi de fácil!
    </ion-card-content>
  </ion-card>
</ion-content>
